// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.album-name span {
  cursor: pointer;
}

.photo-detail-main {
  width: 500px;
}

.username {
  color: black;
  font-weight: bolder;
}

img.detail-image {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  z-index: -1000;
  overflow: hidden;
  background-size:cover;
}

img.defer {
  cursor: pointer;
}

span.username {
  cursor: pointer;
}

.photo-details-widget {
  border-radius: 3px;
  // margin: 30px;
  opacity: 0.3;
  padding: 20px;
  color: #fff;
  background-color: rgba(21, 21, 23, 0.75);
  // width: 500px;
  width: 100%;
  h1 {
    font-size: 30px;
  }
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.photo-details-widget:hover {
  opacity: 0.8;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  transition: all 1s ease-in;
  // transition-duration: 1s;
}

.photo-details-list {
  list-style: none;
  li {
    margin-bottom: 8px;
  }
  .by {
    font-size: 12px;
    font-style: italic;
  }
  .photo-user {
    text-align: right;
    font-style: oblique;
    color: #fff;
  }
  .photo-description {
    font-style: italic;
  }
  .photo-album {
    font-size: 13px;
  }
  .photo-edit {
    margin-top: 20px;
  }
}

.photo-edit {
  display: inline-block;
  text-align: center;
  position: relative;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  margin-right: 30px;
  padding: 15px 0;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  &:hover {
    color: #ccc;
    text-decoration: none;
  }
}

.card .sub-photo-view .photo-engagement {
  float: right;
  overflow: hidden;
  position: absolute;
  right: 0;
  li {
    display: block;
    float: left;
    font-size: 14px;
    line-height: 18px;
    color: #7f96a3;
    margin: 20px 16px 0 0;
    a {
      color: #7f96a3;
    }
    .counter {
      line-height: 20px;
      padding-right: 0;
      display: inline-block;
      max-width: 24px;
      text-align: left;
    }
    .comments {
      line-height: 19px;
    }
  }
}

.card .sub-photo-view .photo-engagement li.favorites i {
  background-image: url('https://s.yimg.com/pw/images/sprites/icons-retina-s51591e68cf.png');
  background-position: 0 -1988px;
}
.card .sub-photo-view .photo-engagement li.comments i {
  background-image: url('https://s.yimg.com/pw/images/sprites/icons-retina-s51591e68cf.png');
  background-position: 0 -2309px;
}
.card .sub-photo-view .photo-engagement li.comments i {
  background-image: url('https://s.yimg.com/pw/images/sprites/icons-retina-s51591e68cf.png');
  background-position: 0 -2345px;
}
